.mail-link:hover {
  color: #E57373 !important;
}
@media (max-width: 768px) {
  .sm-hide {
    display: none !important;
  }
}

.step-img {
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
}

.section-header {
  text-align: center;
  padding-top: 3rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
}

.normal-page p,li {
  margin-top: 15px !important;
}

.normal-page a {
  color: #616161;
  font-weight: bold;
}

.normal-page a:hover {
  color: #e3305f;
  text-decoration:underline;
}

.primary-btn {
  font-family: "Poppins", sans-serif;
}

.scroll-arrow {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #424242;
  font-size: 35px;
  margin-top: -10rem;
}

.pricing-box {
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  padding: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 1280px) {
  .pricing-box {width:95%}
}

.price-row {
  padding: 0.5rem 1rem;
  margin: 0px;
  text-align: left;
}

.price-row b {
  color: #424242
}

.dark-row {
  background-color:#eee;
}

.light-row {
  background-color:#fff;
}

.order-link {
  padding-top:1.5rem;
  font-weight: bold;
}

.ref-img {
  max-height: 24rem;
  margin-left: auto;
  margin-right: auto;
}
