.mail-link:hover {
  color: #E57373 !important;
}
@media (max-width: 768px) {
  .sm-hide {
    display: none !important;
  }
}

.step-img {
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
}

.section-header {
  text-align: center;
  padding-top: 3rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
}

.normal-page p,li {
  margin-top: 15px !important;
}

.normal-page a {
  color: #616161;
  font-weight: bold;
}

.normal-page a:hover {
  color: #e3305f;
  text-decoration:underline;
}

.primary-btn {
  font-family: "Poppins", sans-serif;
}
